* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #e3edf7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill {
    width: 160px;
    height: 160px;
    /* background: cornflowerblue; */
    position: relative;
}

.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    /*
        ความยาวแนวนอนของเงา: 6px (เงาเลื่อนไปทางขวา)
        ความยาวแนวตั้งของเงา: 6px (เงาเลื่อนลงมาด้านล่าง)
        ความมืดและความคล้ำของเงา (blur radius): 10px
        ความกว้างของเงา (spread): 1px  
        สีของเงา: rgba(0,0,0,0.15) ซึ่งเป็นสีดำที่มีความโปร่งแสง 15%

        ความยาวแนวนอนของเงา: -6px (เงาเลื่อนไปทางซ้าย)
        ความยาวแนวตั้งของเงา: -6px (เงาเลื่อนขึ้นด้านบน)
        ความมืดและความคล้ำของเงา (blur radius): 10px
        ความกว้างของเงา (spread): -1px
        สีของเงา: rgba(255,255,255, 0.7) ซึ่งเป็นสีขาวที่มีความโปร่งแสง 70%

        รวมเข้าด้วยกัน, สไตล์นี้จะสร้างเงาด้านบนซ้ายที่เป็นสีขาวและเงาด้านล่างขวาที่เป็นสีดำ 
        ซึ่งเป็นเทคนิคที่นิยมใช้ในการสร้างลักษณะที่เป็นเนื้อเส้น 3D หรือมีความลึก.
    */
    box-shadow: 6px 6px 10px 1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255, 0.7)
}

.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* 
        inset: บ่งบอกว่าเงานี้จะอยู่ภายในกล่อง ไม่ใช่เงาภายนอก (inner shadow)
        ความยาวแนวนอนของเงา: 4px (เงาเลื่อนไปทางขวา)
        ความยาวแนวตั้งของเงา: 4px (เงาเลื่อนลงมาด้านล่าง)
        ความมืดและความคล้ำของเงา (blur radius): 6px
        ความกว้างของเงา (spread): -1px
        สีของเงา: rgba(0,0,0,0.2) ซึ่งเป็นสีดำที่มีความโปร่งแสง 20%

        inset: เงาภายในกล่อง
        ความยาวแนวนอนของเงา: -4px (เงาเลื่อนไปทางซ้าย)
        ความยาวแนวตั้งของเงา: -4px (เงาเลื่อนขึ้นด้านบน)
        ความมืดและความคล้ำของเงา (blur radius): 6px
        ความกว้างของเงา (spread): -1px
        สีของเงา: rgba(255,255,255,0.7) ซึ่งเป็นสีขาวที่มีความโปร่งแสง 70%

        ความยาวแนวนอนของเงา: -0.5px (เงาเลื่อนไปทางซ้ายเล็กน้อย)
        ความยาวแนวตั้งของเงา: -0.5px (เงาเลื่อนขึ้นด้านบนเล็กน้อย)
        ความมืดและความคล้ำของเงา (blur radius): 0px (ไม่มีการเบลอ)
        สีของเงา: rgba(255,255,255,1) ซึ่งเป็นสีขาวที่ไม่โปร่งแสง
        
        ความยาวแนวนอนของเงา: 0.5px (เงาเลื่อนไปทางขวาเล็กน้อย)
        ความยาวแนวตั้งของเงา: 0.5px (เงาเลื่อนลงมาด้านล่างเล็กน้อย)
        ความมืดและความคล้ำของเงา (blur radius): 0px (ไม่มีการเบลอ)
        สีของเงา: rgba(0,0,0,0.15) ซึ่งเป็นสีดำที่มีความโปร่งแสง 15%

        ความยาวแนวนอนของเงา: 0px
        ความยาวแนวตั้งของเงา: 12px (เงาเลื่อนลงมาด้านล่าง)
        ความมืดและความคล้ำของเงา (blur radius): 10px
        ความกว้างของเงา (spread): -10px
        สีของเงา: rgba(0,0,0,0.05) ซึ่งเป็นสีดำที่มีความโปร่งแสง 5%

        การรวมเงาทั้ง 5 รูปแบบนี้จะช่วยสร้างลักษณะที่ซับซ้อนและละเอียดมากขึ้น 
        และมักจะให้ลักษณะที่เป็นเนื้อเส้นแบบ 3D หรือมีความลึกเมื่อมองเห็นในส่วนที่สามารถแสดงผลบนเว็บได้.
    */
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
}

#number {
    font-weight: 600px;
    color: #555;
}

circle {
    fill: none;
    /* 
        stroke: url(#GradientColor);
        กำหนดสีของเส้นขอบ (stroke) ด้วยแกรเดียนต์ที่ถูกกำหนดใน SVG ด้วย ID GradientColor.
    */
    stroke: url(#GradientColor);
    /* 
        กำหนดความกว้างของเส้นขอบเป็น 20 พิกเซล.
    */
    stroke-width: 20px;
    /* 
        กำหนดรูปแบบของเส้นประ (dashed line) สำหรับเส้นขอบ. ค่า 472 หมายถึงว่าเส้นประจะมีความยาว 472 พิกเซล 
        และเว้นวรรคระหว่างแต่ละเส้นประก็จะมีความยาวเท่ากัน.
    */
    stroke-dasharray: 472;
    /* 
        กำหนดการเลื่อนตำแหน่งเริ่มต้นของเส้นประ. ค่า 472 หมายความว่าเส้นประจะถูกเลื่อนออกไป 472 พิกเซล 
        ซึ่งทำให้มันไม่ปรากฏบน SVG เนื่องจากเส้นประและเว้นวรรคมีความยาวเท่ากัน.
    */
    stroke-dashoffset: 472;
    /* 
        กำหนดให้มี animation ชื่อว่า anim ทำงานเป็นเวลา 2 วินาที (2s) ด้วยความเร็วที่แปรปรวนอย่างเป็นเส้นตรง (linear) 
        และให้ animation หยุดที่สถานะสุดท้าย (forwards) หลังจากที่ animation เสร็จสิ้น. 
    */
    animation: anim 2s linear forwards;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

/* 
    stroke-dashoffset: ถูกกำหนดให้มีค่าเป็น 165 หมายความว่าเส้นขอบ (stroke) 
    จะถูกเลื่อนออกไป 165 พิกเซล จากตำแหน่งเริ่มต้น. ตั้งแต่การกำหนดค่าเริ่มต้นเป็น 472, 
    การเลื่อนเส้นขอบไป 165 พิกเซล จะทำให้เราเห็นเส้นขอบที่ปรากฏบน SVG จากการหลีกเลี่ยงการปรากฏแบบเต็มรูปแบบ.
*/
@keyframes anim {
    100%{
        stroke-dashoffset: 165;
    }
}